= form_for(university_group) do |f|
  .form-group
    = f.text_field(:title, class: 'form-control', placeholder: 'Название')
  .form-group
    = f.collection_select(:department_id, Department.all, :id, :title, { prompt: 'Выберите кафедру' },
                                                                 class: 'form-control')
  .form-group.text-right
    = f.submit 'Отправить', class: 'btn btn-primary btn-lg'