%nav{class: 'navbar navbar-dark bg-primary'}
  %a{class: 'navbar-brand', href: "#{root_path}"}
    = image_tag 'survey.png', width: '44px', title: 'Icon made by Freepik from www.flaticon.com'
  %ul{class: 'navbar-nav mr-auto'}
    %li{class: 'nav-item'}
      %h4{class: 'text-light'} Преподаватель глазами студента
  = render('shared/log_in')





