#totalCountContainer
  .text-center#totalCountRow
    .total-count#totalCountNumber
      = @total_count
    .blinking-circle
  %sup
    %hr
  %sup
    .text-muted.text-center
      Количество полученных анкет
