%table.table.table-bordered
  = hidden_field_tag "department[lecturer_ids][]", nil # default empty array in case nothing will be checked
  - lecturers.in_groups_of(5, false) do |lecturers_row|
    %tr
      - lecturers_row.each do |lecturer|
        %td
          = check_box_tag("department[lecturer_ids][]", lecturer.id,
                 department.lecturer_ids.include?(lecturer.id))
          = lecturer.fullname
