:plain
  if ("#{flash[:danger]}" == '') {
    $.ajax({
          url: '/questionnaires/new',
          type: 'GET',
          dataType: 'script'
      });
    $('#flashes').html("#{j(render('shared/flashes'))}");
  }
  else {
    $('#flashes').html("#{j(render('shared/flashes'))}");
  }

