.form-group
  = collection_select(:department, :id, faculty.departments, :id, :title,
                                        { prompt: 'Выберите кафедру'},
                                        { class: 'form-control form-control-lg',
                                          onchange: 'getNextHtmlSelect(this);'})