.form-group
  = form_with(url: get_departments_path, method: 'post', remote: true, class: 'form-control form-control-lg') do |f|
    = f.collection_select(:faculty_id, Faculty.all, :id, :title,
                                    { prompt: 'Выберите факультет' },
                                    { onchange: 'getDepartments(this.form);'} )
