.form-group
  = collection_select(:faculty, :id, Faculty.all, :id, :title,
                                        { prompt: 'Выберите факультет'},
                                        { class: 'form-control form-control-lg',
                                          onchange: 'getNextHtmlSelect(this);'})
