%h5{class: 'text-center'}
  Количество преподавателей для учебной группы <b>#{university_group.title}</b>: #{lecturers_count}.
= button_tag 'Начать тестирование', class: 'btn btn-primary', onclick: 'startTesting();'

