.form-group
  = collection_select(:university_group, :id, department.university_groups, :id, :title,
                                        { prompt: 'Выберите учебную группу'},
                                        { class: 'form-control form-control-lg',
                                          onchange: 'getNextHtmlSelect(this);'})