:plain
  var startButton = "#{escape_javascript(@start_button)}";
  if (startButton == '') {
     $("#startButton").html('');
     console.log('Последующие списки после списка групп удалены');
  }
  else {
    $("#startButton").html(startButton);
    console.log('Кнопка старта отображена');
  }

