.row
  .col-md-3
  .col-md-6#facultiesOptions
    = render 'faculties_options'
  .col-md-3
.row
  .col-md-3
  .col-md-6#departmentsOptions
  .col-md-3
.row
  .col-md-3
  .col-md-6#universityGroupsOptions
  .col-md-3
.row
  .col#startButton
.row
  .col#questionnaireForm




