%table.table.table-bordered
  = hidden_field_tag "lecturer[discipline_ids][]", nil # default empty array in case nothing will be checked
  - disciplines.in_groups_of(3, false) do |disciplines_row|
    %tr
      - disciplines_row.each do |discipline|
        %td
          = check_box_tag("lecturer[discipline_ids][]", discipline.id,
                 lecturer.discipline_ids.include?(discipline.id))
          = discipline.title
